<!doctype html>
<html>
<head>
    <title>Application Form</title>
    <link href="./copy_styles.css" rel="stylesheet">
</head>
<body>
  <h1>
    Application Form
  </h1>
  <p>
    &nbsp; Please enter your information below.
  </p><br>
  <form action="/application-success" method="POST">
    First Name: <input type="text" name="firstname" >
    <label>Last Name: <input type="text" name="lastname"></label><br><br>
    Salary Requirements: <input type="number" name="salary"><br><br>

    What job are you applying for?
    {% for job in jobs %}
      <input type="radio" name="job" value={{job}}>{{ job }}
    {% endfor %}<br><br>
    
    <input type="submit">
  </form>
</body>
</html>


