<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="static/copy_styles.css">
    {% extends 'base.html' %}
    {% block title %}Application Form{% endblock%}
</head>
{% block content %}
  <h1>
    Application Form
  </h1>
  <p>
    &nbsp; Please enter your information below.
  </p><br>
  <form action="/application-success" method="POST">
    First Name: <input type="text" name="firstname" >
    <label>Last Name: <input type="text" name="lastname"></label><br><br>
    Salary Requirements: $<input type="number" class = "currency"
    name="salary"><br><br>

    What job are you applying for?
    {% for job in jobs %}
      <input type="radio" name="job" value="{{ job }}">{{ job }}
    {% endfor %}<br><br>
    
    <input type="submit">
  </form>
{% endblock %}
</html>


