<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/copy_styles.css">
    <link rel="stylesheet" href="static/styles4.css">
    <title>{% block title %}TITLE GOES HERE{% endblock%}</title>
</head>
  <body>
    <div class="container">
    {% block content %}BODY CONTENT HERE{% endblock %}<br><br><br>
    <footer>Copyright 2017 Hannah Schafer</footer>
    </div>
</body>
</html>